@charset "utf-8";
@import url(common.css);


/*
 * File       : styles.css
 * Date       : 2024. 08. 07.
 *
 */


.bg-layer {
    background: rgba(0, 0, 0, 0.60);
    display: none;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: all 1s ease;
    left: 0;
    width: 100%;
    z-index: 1;
}

.bg-layer.active {
    display: block;
    transition: all 1s ease;
}

.map-wrap {
    position: relative;
}

.map-wrap p {
    background: var(--primary-hover);
    border-radius: 100px;
    color: var(--white);
    font-size: var(--text-md);
    font-weight: 400;
    padding: 8px 24px;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}

.set-wrap {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.set-wrap h1 {
    font-size: 20px;
}

.set-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.set-header button {
    width: 100px;
}

.set-body {
    background: var(--white);
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}

.set-body table {
    border-collapse: collapse;
    width: 100%;
}

.set-body table thead tr th {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black-200);
    color: var(--black);
    font-size: var(--text-sm);
    font-weight: 500;
    padding: 12px 0;
}

.set-body table tr td {
    border-bottom: 1px solid var(--black-200);
    color: var(--black);
    font-size: var(--text-sm);
    font-weight: 500;
    padding: 8px 0;
}

.set-body table tr td:first-child {
    padding: 8px;
}

.login-wrap {
    align-items: center;
    background: #F9FBFF;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.login-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
    width: 100%;
}

.login-wrap img {
    width: 240px;
}

.login {
    background: var(--white);
    border-radius: 12px;
    max-width: 600px;
    padding: 32px;
    width: 100%;
}

@media (min-width:992px) {
    .login-wrap img {
        width: 320px;
    }

    .login-area {
        gap: 40px;
    }

    .login {
        padding: 40px;
    }

}